{
  "presets": [
    ["@babel/preset-env"]
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "node": "current"
          },
          "modules": "commonjs"
        }]
      ]
    },
    "commonjs": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "browsers": [
              "last 2 versions",
              "ie > 10"
            ],
            "node": 6
          },
          "modules": "commonjs"
        }]
      ]
    },
    "es": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "browsers": [
              "last 2 versions",
              "ie > 10"
            ],
            "node": 6
          },
          "modules": false
        }]
      ]
    }
  }
}